@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0b0f13;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  cursor: url('/cursor-circle-white.png') 6 6, crosshair;
}

/* Reset input styles */
input {
  all: unset;
  background: transparent;
  color: inherit;
}

input:focus {
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}

/* Add custom cursor styles */
.custom-cursor {
  width: 20px;
  height: 20px;
  background: #aaaaaa;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 9999;
  left: 0;
  top: 0;
  transform: translate3d(50%, 50%, 0);
  opacity: 0;
  will-change: transform;
  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.5s ease;
}
